source/corona/output
source/glfw/Debug
source/glfw/Release
source/libmodplug/Debug
source/libmodplug/Release
source/libogg/Debug
source/libogg/Release
source/libvorbis/Debug
source/libvorbis/Release
source/lua/Debug
source/lua/Release
source/plaidaudio/Debug
source/plaidaudio/Release
source/plum/_output
source/portaudio/Debug
source/portaudio/Release
source/zlib/Debug
source/zlib/Release
plum.log
stdout.log
stderr.log
.DS_Store
*.aps
*.exp
*.a
*.o
*.user
*.lib
*.opensdf
*.sdf
*.ncb
*.suo
*.pdb
*.upx
test/plum.exe
Debug
Release
ipch
UpgradeLog.XML
.sconsign.dblite
