source/Plum/_output
source/Plum/Plum.aps
source/**/*.vcproj.*.user
source/SDL-1.2.13/VisualC/SDL/Debug
source/SDL-1.2.13/VisualC/SDL/Release
source/SDL-1.2.13/VisualC/SDL/*.vcproj.*.user
source/SDL.lib
source/corona/output
source/lua/Debug
source/lua/Release
source/zzip/Debug
source/zzip/Release
source/zlib/Debug
source/zlib/Release
source/audiere/vc7/audiere/Release/*.*
source/audiere/vc7/audiere/Debug/*.*
source/audiere/vc7/audiere/*.vcproj.*.user
source/audiere/vc7/bin/Release/*.lib
source/audiere/vc7/bin/Debug/*.lib
test/*.log
test/**/*.log
test/Plum.exp
test/Plum.lib
test/Plum.suo
test/test.txt
Plum.ncb
Plum.suo
Debug